// Nav bar styling

#nav_bar_container{
  height: 40px; float: left; width: 100%;
  /* fallback */
  background: #ffffff;

  background-image: -o-linear-gradient(bottom, #FAF9F9 24%, #ffffff 62%);
  background-image: -moz-linear-gradient(bottom, #FAF9F9 24%, #ffffff 62%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.24, #FAF9F9), color-stop(0.62, #ffffff));
  background-image: -webkit-linear-gradient(bottom, #FAF9F9 24%, #ffffff 62%);
  background-image: -ms-linear-gradient(bottom, #FAF9F9 24%, #ffffff 62%);
  background-image: linear-gradient(bottom, #FAF9F9 24%, #ffffff 62%);
  
}